html {
    max-width: 100vw;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
    height: 3179px;
    background: url('../bg.png') top center no-repeat #060100;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 146%;
    font-style: normal;
    color: #D6D6D6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jockey One', sans-serif;
    font-size: 72px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
}

.container {
    max-width: 1172px;
    padding: 0;
    margin: 0 auto;
}

/* Start header */

.header__top-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding: 24px 0;
}

.menu,
.menu__list {
    display: flex;
    justify-content: space-between;   
}

.menu__list {
    width: 599px;
    margin: 0 auto;
}

.menu__list-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.menu__list-link:hover {
    color: #febb06;
    transition: .3s;
}


.menu__register {
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 146%;
    letter-spacing: 0.5px;
    margin-left: 98px;
    padding: 14px 50px;
    text-transform: uppercase;
    background: -o-linear-gradient(86.42deg, #FFC700 -1.87%, #F3254C 119.59%, #F32525 119.59%);
    background: linear-gradient(86.42deg, #FFC700 -1.87%, #F3254C 119.59%, #F32525 119.59%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.menu__register:hover {
    -webkit-animation: menu__register 1s linear infinite alternate both;
    animation: menu__register 1s linear infinite alternate both;
}

@-webkit-keyframes menu__register {
    0% {
        background: #FFC700;
    }

    50% {
        background: #f3252c;
    }

    100% {
        background: #fe4635;
    }
}

@keyframes menu__register {
    0% {
        background: #FFC700;
    }

    50% {
        background: #f3252c;
    }

    100% {
        background: #fe4635;
    }
}

.menu__btn {
    display: none;
}

/* End header */

/* Start main content */

.content {
    margin-top: 164px;
}

.content__usp::after {
    content: '';
    position: absolute;
    transform: translate(186px, -520px);
    width: 840px;
    height: 351px;
    background: rgba(0, 0, 0, 0.38);
    filter: blur(43px);
    border-radius: 58px;
    z-index: -1;
}

.content__title {
    width: 648px;
    margin: 0 auto 24px;
    text-align: center;
}

.content__text {
    width: 627px;
    margin: 0 auto 235px;
}

.content__slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

.content__slider-title {
    width: 379px;
    font-size: 46px;
}

.content__slider-text {
    width: 495px;
    font-size: 18px;
    line-height: 26.35px;
}

/* Start slider content */

.content__slider-list {
    display: flex;
}

.content__card {
    cursor: pointer;
}

.content__card + .content__card {
    margin-left: 20px;
}

.content__card-link {
    display: block;
    background-color: #212121;
    width: 345px;
    height: 403px;
}

.content__card-link:hover {
    -webkit-filter: saturate(160%);
    filter: saturate(160%);
}

.content__card-image {
    margin-bottom: 26.5px;
}

.content__card-title {
    font-size: 24px;
}

.content__card-title::before {
    content: url('../play.svg');
    position: absolute;
    width: 65px;
    height: 65px;
    transform: translate(248px, -47px);
}

.content__card-rating,
.content__card-title {
    margin-left: 20px;
    display: flex;
}

.content__card-label {
    cursor: pointer;
    z-index: 1;
    margin-right: 3px;
}

.content__card-label::before {
    content: url('../flame.svg');
    transition: color .3s 0s;
    transform: translateX(-118px);
}


.content__card-label:hover,
.content__card-label:hover ~ .content__card-label,
.content__card-label:checked ~ .content__card-label:hover {
    content: url('../flame-empty.svg');
    margin-bottom: 8px;
}

.content__card-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Start Swiper */
.swiper {
    position: absolute;
    width: 100vw;
}

.swiper-wrapper {
    display: inline-flex;
}
/* End Swiper*/

/* End slider content */


/* End main content */

/* Start responsive */

@media (max-width: 1160px) {
    .menu,
    .menu__register {
        margin-left: 40px;
    }

    .link__logo {
        padding: 4px 0;
    }
}

/* End responsive */